@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  
}

.whatsapp-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

/* Balão com texto */
.whatsapp-container .tooltip {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 8px;
  white-space: nowrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Exibir o balão ao passar o mouse */
.whatsapp-container:hover .tooltip {
  opacity: 1;
  transform: translateY(0);
}

/* Ícone do WhatsApp */
.whatsapp-icon {
  width: 60px;
  height: 60px;
  background-color: #25D366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.whatsapp-icon:hover {
  transform: scale(1.1);
}

.whatsapp-icon img {
  width: 35px;
  height: 35px;
}

nav{
  background-color: #4d4d4d;
  padding: 13px;
  text-align: center;
  display: flex;
  background-image: linear-gradient(to bottom, transparent,rgba(0, 0, 0, 0.842));
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo{
  flex: 15%;
  margin: auto;
  margin-left: 5%;
  text-align: center;
}

nav strong{
  background-color: rgba(18, 87, 18, 0.384);
  padding: 10px 15px;
  border-radius: 20px;
  color: rgb(219, 219, 219);
  font-weight: 400;
}

.contato{
  font-weight: 700;
  background-color: rgba(228, 58, 58, 0.788);
  border: 2px solid black;
  border-radius: 30px;
  margin-left: 70px;
}

.menu{
  flex: 50%;
  margin: auto;
 /* border: 1px solid purple;*/
}

.menu a{
  padding: 40px;
  font-size: 1.3em;
  text-decoration: none;
  color: #dedede;
}

.menu a:hover{
  color: rgba(0, 112, 0, 0.699);
}

@media(min-width: 425px){
  article{
      height: 1600px;
  }
  
  .card{
      display: block;
  }

  article img{
      width: 400px;
      height: 500px;
  }

  .card p {
      height: 60%;
  }

  span{
      display: none;
  } 

  .card p:hover span {
      transform: rotate(0);
      display: none;
    }

  .logo{
      margin-left: 0%;
      flex: 1%;
  }

  .logo img{
      width: 120px;
  }
  .menu a{
      padding: 1%;
      font-size: 10px;
  }

  .menu{
      padding-left: 0px;
  }

  .contato{
    margin-left: 30px;
    font-size: 20px;
}

  Footer{
      display: block;
      height: 900px;
  }

  footer h1{
      padding: 20px;
      }

  .contatos{
      margin-right: 10px;
  }

  .contatos a{
      padding-left: 20px;
  }

  .local h1{
      padding-top: 60px;
  }

  .local{
          margin: 30px;
  }

  .local img{
      width: 300px;
      margin-left: 50px;
  }
}

@media(min-width: 768px){

  .menu{
      padding-left: 5%;
  }

  article{
      height: 2200px;
  }

  .card{
   margin-bottom: 100%;
   height: 60%;
  }

  article img{
      width: 300px;
      height: 500px;
  }

  span{
      display:block;
  } 

  .card p:hover span {
      transform: rotate(0);
      display: block;
   }

  article img{
      width: 350px;
      height: 650px;
  }

  .logo{
      margin-left: 3%;
      flex: 1%;
  }

  .logo img{
      width: 120px;
  }

  .menu a{
      padding: 1%;
      font-size: 14px;
  }

  .card p:hover {
      flex: 0;
      flex: 40;
  }

  article img{
      width: 400px;
      height: 650px;
  }

  .card p {
      height: 100%;
  }
  
  Footer{
      display: block;
      height: 770px;
  }

  .local img{
      margin-left: 0px;
  }

  .local h1{
      padding-top: 60px;
  }
}

@media (min-width:1024px){
  .local h1{
      padding-top: 0px;
  }
  .flex{
      height: 0px;
  }

  .card{
      display: flex;
      height: 550px;
  }

  article img{
      width: 400px;
  }

  article{
      height: 700px;
  }
  
  article img{
      width: 520px;
      height: 100%;
  }

  .card p {
      height: 100%;
  }
  
  span{
      display:none;
  } 

  .logo{
      margin-left: 5%;
      flex: 3%;
  }

  .logo img{
      width: 200px;
  }

  .card p:hover {
      flex: 8;
      flex: 10;
  }     

  .menu a{
      padding: 2%;
      font-size: 16px;
  }

  footer{
      display: flex;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.911), rgba(0, 0, 0, 0.781));
      color: rgb(223, 223, 223);
      font-family: "Roboto", sans-serif;
      display: flex;
      height: 450px;
  }
  footer h1{
  margin: 20px;
  }
  .local{
      margin: 30px;
  }
  .contatos a{
      padding-left: 20px;
  }

  footer img{
      width: 300px;
  }

  .local div{
      padding-top: 20px;
  }
}

@media (min-width: 1440px){
  article{
      height: 850px;
  }

  .card{
      display: flex;
      height: 650px;
  }

  .card p:hover {
      flex: 4;
    }

    .local{
      flex: 70%;
  }

  .menu a{
      padding: 3%;
      font-size: 22px;
  }

  .contato{
      font-size: 20px;
  }

  footer{
      display: flex;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.911), rgba(0, 0, 0, 0.781));
      color: rgb(223, 223, 223);
      font-family: "Roboto", sans-serif;
      height: 450px;
  }

  .contatos a{
      padding-left: 200px;
  }
  .local img{
      margin-left: 150px;
  }
}